<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Aquesta és la meva pàgina</h1>
    </header>
    <article>
        <a href="https://annalr99.github.io/m9_uf2_activitat1/">Activitat 1</a>
    </article>
    
</body>
</html>